<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<connectionStrings>
		<!-- 주석으로 계정 구분-->
		<add name="HRDB" connectionString="Data Source=SKCC22D00354;Initial Catalog=HRDB;User ID=Portaladmin;Password=#skcc12345;"/>
	</connectionStrings>
</configuration>