<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<connectionStrings>
		<add name="HRDB" connectionString="Data Source=SKCC16D00300;Initial Catalog=HRDB;User ID=Test;Password=#skcc12345;"/>
	</connectionStrings>
</configuration>